In [1]:
# dependencies
import pandas as pd

In [2]:
# get all the csv filepaths and create a list of files
bikedata_2020_01 = "data/JC-202001-citibike-tripdata.csv"
bikedata_2020_02 = "data/JC-202002-citibike-tripdata.csv"
bikedata_2020_03 = "data/JC-202003-citibike-tripdata.csv"
bikedata_2020_04 = "data/JC-202004-citibike-tripdata.csv"
bikedata_2020_05 = "data/JC-202005-citibike-tripdata.csv"
bikedata_2020_06 = "data/JC-202006-citibike-tripdata.csv"
bikedata_2020_07 = "data/JC-202007-citibike-tripdata.csv"
bikedata_2020_08 = "data/JC-202008-citibike-tripdata.csv"
bikedata_2020_09 = "data/JC-202009-citibike-tripdata.csv"
bikedata_2020_10 = "data/JC-202009-citibike-tripdata.csv"
bikedata_2020_11 = "data/JC-202009-citibike-tripdata.csv"
bikedata_2020_12 = "data/JC-202009-citibike-tripdata.csv"


all_files = [bikedata_2020_01,bikedata_2020_02,bikedata_2020_03,bikedata_2020_04,bikedata_2020_05,bikedata_2020_06,
             bikedata_2020_07, bikedata_2020_08, bikedata_2020_09, bikedata_2020_10, bikedata_2020_11, bikedata_2020_12]

In [3]:
df = pd.concat((pd.read_csv(f, header = 0) for f in all_files))
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [4]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [5]:
df.isnull().sum()

tripduration               0
starttime                  0
stoptime                   0
start station id           0
start station name         0
start station latitude     0
start station longitude    0
end station id             0
end station name           0
end station latitude       0
end station longitude      0
bikeid                     0
usertype                   0
birth year                 0
gender                     0
dtype: int64

In [6]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [7]:
# clean the df to have only the data with birth year over 1919 (under 100 years old)
df = df.loc[df["birth year"] > 1920, :]

# reset index
df = df.reset_index(drop = True)

In [8]:
df.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,4.352250e+05,435225.000000,435225.000000,435225.000000,435225.000000,435225.000000,435225.000000,435225.000000,435225.000000,435225.000000
mean,1.611514e+03,3304.358527,40.722204,-74.046750,3302.786947,40.721784,-74.046014,41008.288062,1981.519345,1.093448
std,2.104531e+04,185.085114,0.007371,0.011972,190.362493,0.087603,0.159176,5944.558384,11.037992,0.638923
min,6.100000e+01,3184.000000,40.709651,-74.083639,82.000000,0.000000,-74.083639,14531.000000,1930.000000,0.000000
25%,3.380000e+02,3195.000000,40.716870,-74.051789,3195.000000,40.716870,-74.050656,42159.000000,1969.000000,1.000000
50%,6.400000e+02,3209.000000,40.721124,-74.043845,3209.000000,40.721124,-74.043845,42412.000000,1984.000000,1.000000
75%,1.449000e+03,3276.000000,40.727224,-74.037683,3276.000000,40.727224,-74.037683,44335.000000,1990.000000,2.000000
max,3.261756e+06,3792.000000,40.748716,-74.032108,4069.000000,40.848282,0.000000,47939.000000,2004.000000,2.000000

In [9]:
# output the final dataframe to a csv file for using in tableau

df.to_csv("data/bikedata_2020.csv", index=False)